# 1.Python Conditions-Loops

In [1]:
'''
Equals:                   a == b
Not Equals:               a != b
Less than:                a < b
Less than or equal to:    a <= b
Greater than:             a > b
Greater than or equal to: a >= b
'''

'\nEquals:                   a == b\nNot Equals:               a != b\nLess than:                a < b\nLess than or equal to:    a <= b\nGreater than:             a > b\nGreater than or equal to: a >= b\n'

## 1.1 if.....else

In [2]:
a=4
b=6
if a<b:
  print("b is greater than a")

b is greater than a

In [3]:
'''
Indentation (whitespace at the beginning of a line) is used by Python to specify 
scope in the code. Curly brackets are commonly used in other computer languages 
for this reason.
'''
a=4
b=6
if a<b:
print("b is greater than a")

IndentationError: ignored

In [4]:
a=4
b=6
if a>b:
  print("a is greater than b")
else:                          
  print("a is not greater than b")

a is not greater than b

In [5]:
'''
Now suppose we have more than two conditions i.e. greater, less and equal 
'''
a=4
b=5
if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equal to b")
else:
  print("a is less than b")

'''
else executes the conditions if all previous conditions are not true 
'''

a is less than b

'\nelse executes the conditions if all previous conditions are not true \n'

In [7]:
'''
one line if statement
'''
a=4
b=5
print("A") if a > b else print("=") if a == b else print("B")

B

## 1.2 while loop

In [6]:
i=1
while i<5:
  print (i)
  i=i+1 #i+=1

1
2
3
4

In [8]:
'''
break statement
'''
i=1
while i<5:
  print (i)
  if i==3:
    break
  i+=1

1
2
3

## 1.3 for loop

In [9]:
alpha_b=['Apple','Boy','Cat']
for x in alpha_b: #x is a variable --->For loops iterate over a given sequence
  print(x)

Apple
Boy
Cat

In [10]:
'''
exit the loop when x is boy
'''
alpha_b=['Apple','Boy','Cat']
for x in alpha_b:
  if x=='Boy':
    break
  print(x)

Apple

In [12]:
'''
the range() Function
'''
for x in range(5):    #which means values from 0 to 4 not 0 to 5
  print(x)

0
1
2
3
4

In [11]:
for x in range(2,5):    
  print(x)

2
3
4

In [13]:
for x in range(0,40,10):
  print(x)

0
10
20
30

In [28]:
'''
Nested loops
'''
alpha_b=['Apple','Boy','Cat']
fruits=['banana','mango','cherry']
for x in alpha_b:
  for y in fruits:
    print(x,y)
#The inner loop will executed one time for each iteration of the outer loop

Apple banana
Apple mango
Apple cherry
Boy banana
Boy mango
Boy cherry
Cat banana
Cat mango
Cat cherry

# 2.Functions

In [14]:
'''
A function is defined using the def keyword in Python
'''

'\nA function is defined using the def keyword in Python\n'

## 2.1 using keyword 'def'

In [15]:
def my_fun():
  print("Hey there!")

In [16]:
my_fun()

Hey there!

In [17]:
'''
now use the return statements to tell a function that a value should be returend
'''
def my_fun(x):
  return(x+5)

In [18]:
print(my_fun(1))
print(my_fun(2))
print(my_fun(3))
print(my_fun(4))
print(my_fun(5))

6
7
8
9
10

In [19]:
i=1
while i<5:
  print(my_fun(i))
  i+=1

6
7
8
9

In [20]:
def my_fun(x):
  '''
  This function return the entered number + 5
  '''
  return(x+5)

## 2.2 using keywords 'lambda'

In [21]:
'''A lambda function can take any number of arguments, but only have one expression'''

'A lambda function can take any number of arguments, but only have one expression'

In [22]:
x=lambda a:a+5
print(x(1))

6

In [27]:
x= lambda a,b,c:a-b-c
print(x(9,5,2))

2

In [24]:
'''
Here we can see this lambda function used as an anonymous function
'''
'''
Now let me tell you-why should we use this lambda function
'''

'\nNow let me tell you-why should we use this lambda function\n'

## 2.3 using both 'def'+'lambda'

In [25]:
def my_fun(x):
  return (lambda a:a+x)

p=my_fun(5)
print(p(10))

15